<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819264268656-5ejchfb5hlr05v0njrhf1aaq0e9dbn7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819264268656-5ejchfb5hlr05v0njrhf1aaq0e9dbn7l</string>
	<key>API_KEY</key>
	<string>AIzaSyAMkleYVRZDUXysj5o8iuAv9D-u_LfIQ3c</string>
	<key>GCM_SENDER_ID</key>
	<string>819264268656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>izumin.trung.proj181221</string>
	<key>PROJECT_ID</key>
	<string>a2z-check</string>
	<key>STORAGE_BUCKET</key>
	<string>a2z-check.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819264268656:ios:f536a25ecbc42f9ab947b5</string>
</dict>
</plist>